name: scalex
description: Simple responsive sizing for Flutter with syntax like 4.w, 4.h, 4.sp. Smart scaling on mobile/tablet, fixed sizes on desktop. Works seamlessly across web, mobile, and desktop platforms.
version: 1.0.1
homepage: https://imrishav.life
repository: https://github.com/rishuriya/scalex
issue_tracker: https://github.com/rishuriya/scalex/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

